*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.main {
    padding-left: 32px;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}