*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
}

.sidebar {
    border-right: 1px solid #000;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}