*, *::before, *::after {
    box-sizing: border-box;

    border: 0;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
}

.sidebar {
    width: 160px;
    border-right: 1px solid red;
}